* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-head-section {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  height: 32px;
  align-items: center;
  padding-left: 20px;
  position: relative;
}

.top-head-section1,
.top-head-section2 {
  display: flex;
  list-style-type: none;
}

.top-head-section1 a,
.top-head-section2 a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 13px;
  padding-right: 20px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.search {
  height: 48px;
  width: 50px;
  padding-top: 12px;
  padding-left: 15px;
  border-left: 1px solid grey;
}

.search a {
  color: #aaa;
  font-size: 20px;
}

.search i {
  color: #aaa;
}

.second-head-section1 {
  display: flex;
  list-style: none;
}

.second-head-section {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0 25px #ebedef;
  position: sticky;
}

.second-head-section1 a {
  text-decoration: none;
  color: #aaa;
  line-height: 1;
  padding-right: 15px;
  font-size: 15px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.latest-funding a {
  text-decoration: none;
  color: #f42;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.funding-card-details {
  width: 270px;
  height: 82.5px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
  background-color: rgba(255, 68, 34, 0.05);
  padding-left: 35px;
  padding-top: 10px;
}

.last-funding-card-details a {
  text-decoration: none;
  color: #d5d8dc;
}

.funding-card-details a {
  text-decoration: none;
  color: gray;
  line-height: 30px;
  font-size: 14px;
}

.funding-card-details i {
  color: inherit;
}

.second-head-details a {
  text-decoration: none;
  color: #f42;
  font-size: 15px;
  font-weight: bold;
}

.all-article-list a {
  color: #555;
  text-decoration: none;
  padding: 10px 0 6px 14px;
  display: block;
  font-size: 13px;
}

.deals-head a {
  text-decoration: none;
  color: #f42;
}

.footer-social a {
  padding: 10px 10px 10px 10px;
  border-radius: 60px;
  width: 40px;
  display: inline-block;
  border: 1px solid #333;
  background-color: #333;
  margin-right: 10px;
}

.social-others a {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  margin-right: 15px;
}

.last-footer a {
  text-decoration: none;
  color: #eaedee;
}

.top-head-section1 a:hover,
.top-head-section2 a:hover {
  color: whitesmoke;
}

#news {
  color: white;
}

.news-top-head {
  display: grid;
  grid-template-columns: 32.5% 32.5% 32.5%;
  grid-template-rows: 249px 249px;
  box-sizing: border-box;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.news-top-headpics1 {
  background-image: url("./assets/top1.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.news-top-headpics2 {
  background-image: url("./assets/top2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news-top-headpics3 {
  background-image: url("./assets/pics3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#news-top-headdetails1 {
  background-image: linear-gradient(#cf2310, #53575a, #373a3d);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

#date {
  color: #fff;
  position: absolute;
  right: 24px;
  top: 16px;
  font-size: 0.9rem;
}

#headtopic {
  color: #fff;
  position: absolute;
  bottom: 35%;
  left: 3%;
}

.latest-funding a:hover {
  color: black;
}

.all-article-list a:hover {
  color: #000;
}

.deals-head a:hover {
  color: #000;
}

.footer-social a:hover {
  background-color: #131313;
}

.social-others a:hover {
  color: white;
}

#headtopic a {
  text-decoration: none;
  color: inherit;
}

#topic {
  position: absolute;
  bottom: 15%;
  left: 3%;
  color: #fff;
  width: 85%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#topic a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 210%;
}

#topic2,
#topic3 {
  position: absolute;
  bottom: 15%;
  left: 3%;
  color: #fff;
  width: 90%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#topicauthor {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#topicauthor2,
#topicauthor3 {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#topicauthor a {
  text-decoration: none;
  color: inherit;
}

#topic2 a,
#topic3 a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 105%;
  opacity: 1;
}

#headtopic2,
#headtopic3 {
  color: #fff;
  position: absolute;
  bottom: 48%;
  left: 3%;
}

#topicauthor2 a,
#topicauthor3 a {
  text-decoration: none;
  color: inherit;
}

#headtopic2 a,
#headtopic3 a {
  text-decoration: none;
  color: inherit;
}

#news-top-headdetails2 {
  background-image: linear-gradient(rgb(44, 62, 80), rgb(23, 32, 42), rgb(23, 32, 42));
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

#news-top-headdetails3 {
  background-image: linear-gradient(rgb(33, 47, 61), rgb(23, 32, 42));
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.thelatestnews-section {
  width: 100%;
  padding-top: 80px;
}

#latestnews {
  color: #f42;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.thelatestnews-section h2 {
  padding-bottom: 20px;
  padding-left: 120px;
}

.thelatestnews {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-column-gap: 10px;
  grid-template-rows: 250px 250px;
  justify-content: center;
}

#pictures,
#pictures1,
#pictures2,
#pictures3,
#pictures4,
#pictures5,
#pictures6,
#pictures7 {
  width: 270px;
  height: 135px;
}

#latestnews:hover {
  color: black;
}

#latesttopicnews,
#latesttopicnews1,
#latesttopicnews2,
#latesttopicnews3,
#latesttopicnews4,
#latesttopicnews5,
#latesttopicnews6,
#latesttopicnews7 {
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

#latesttopicnewsothers,
#latesttopicnewsothers1,
#latesttopicnewsothers2,
#latesttopicnewsothers3,
#latesttopicnewsothers4,
#latesttopicnewsothers5,
#latesttopicnewsothers6,
#latesttopicnewsothers7 {
  font-size: 13px;
  font-weight: bolder;
  color: #aaa;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

#latesttopicnewsothers11,
#latesttopicnewsothers12,
#latesttopicnewsothers13,
#latesttopicnewsothers14,
#latesttopicnewsothers15,
#latesttopicnewsothers16,
#latesttopicnewsothers17,
#latesttopicnewsothers18 {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

#latesttopicnews:hover,
#latesttopicnews1:hover,
#latesttopicnews2:hover,
#latesttopicnews3:hover,
#latesttopicnews4:hover,
#latesttopicnews5:hover,
#latesttopicnews6:hover,
#latesttopicnews7:hover {
  color: #f42;
  text-decoration: underline;
}

#latesttopicnewsothers11:hover,
#latesttopicnewsothers12:hover,
#latesttopicnewsothers13:hover,
#latesttopicnewsothers14:hover,
#latesttopicnewsothers15:hover,
#latesttopicnewsothers16:hover,
#latesttopicnewsothers17:hover,
#latesttopicnewsothers18:hover {
  color: black;
}

.latest-funding {
  display: flex;
  justify-content: space-between;
  color: #f42;
  padding-left: 8%;
  padding-right: 8%;
  font-weight: bolder;
  padding-bottom: 30px;
}

.main-latest-funding-card {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 20px;
  justify-content: center;
}

.latest-funding-card-head {
  text-decoration: none;
  position: relative;
  width: 270px;
  height: 96.6667px;
  font-family: "Helvetica-Neue", Arial, sans-serif;
}

#cardimg1,
#cardimg2,
#cardimg3,
#cardimg4 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 9px;
}

.zipari {
  width: 270px;
  text-align: center;
  height: 39.3333px;
  background: #f42;
  color: #fff;
  padding-top: 10px;
  font-size: 18px;
}

.card-head-details {
  width: 270px;
  height: 57.3334px;
  background-color: rgba(255, 68, 34, 0.08);
  padding-left: 80px;
  padding-top: 15px;
  color: #000;
  font-size: 16px;
}

.card-head-details h5 {
  font-family: sans-serif;
  font-weight: lighter;
  color: gray;
}

.last-funding-card-details {
  width: 270px;
  height: 88.5px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
  background-color: rgba(255, 68, 34, 0.05);
  border-top: 1px solid #f42;
  padding: 15px 25px 10px 25px;
  font-size: 12px;
  color: gray;
  line-height: 20px;
}

.section-column {
  padding-top: 80px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 390px);
}

.column-first-head-image {
  width: 368px;
  height: 276px;
  background-image: url("./assets/sectionimage1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-head-image-opac {
  background-image: linear-gradient(rgb(33, 47, 61), rgb(23, 32, 42));
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.head-image-opac-rev {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
}

#revheadtopic,
#revheadtopic1,
#revheadtopic2,
#revheadtopic3,
#revheadtopic4,
#revheadtopic5,
#revheadtopic6,
#revheadtopic7,
#revheadtopic8 {
  color: #fff;
  position: absolute;
  bottom: 30%;
  left: 3%;
}

#revheadtopic a,
#revheadtopic1 a,
#revheadtopic2 a,
#revheadtopic3 a,
#revheadtopic4 a,
#revheadtopic5 a,
#revheadtopic6 a,
#revheadtopic7 a,
#revheadtopic8 a {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

#revtopic,
#revtopic1,
#revtopic2,
#revtopic3,
#revtopic4,
#revtopic5,
#revtopic6,
#revtopic7,
#revtopic8 {
  position: absolute;
  bottom: 12%;
  left: 3%;
  color: #fff;
  width: 90%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#revtopic a,
#revtopic1 a,
#revtopic2 a,
#revtopic3 a,
#revtopic4 a,
#revtopic5 a,
#revtopic6 a,
#revtopic7 a,
#revtopic8 a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  opacity: 1;
}

#revtopicauthor,
#revtopicauthor1,
#revtopicauthor2,
#revtopicauthor3,
#revtopicauthor4,
#revtopicauthor5,
#revtopicauthor6,
#revtopicauthor7,
#revtopicauthor8 {
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
}

#revtopicauthor a,
#revtopicauthor1 a,
#revtopicauthor2 a,
#revtopicauthor3 a,
#revtopicauthor4 a,
#revtopicauthor5 a,
#revtopicauthor6 a,
#revtopicauthor7 a,
#revtopicauthor8 a {
  text-decoration: none;
  color: inherit;
}

#topicauthor a:hover {
  color: #fff;
}

#topicauthor2 a:hover,
#topicauthor3 a:hover {
  color: #fff;
}

.column-second-head {
  width: 368px;
  height: 96px;
  display: flex;
  background-color: rgba(255, 68, 34, 0.1);
}

#smallimg,
#smallimg1,
#smallimg2,
#smallimg3,
#smallimg4,
#smallimg5,
#smallimg6,
#smallimg7,
#smallimg8 {
  width: 96px;
  height: 96px;
}

.second-head-details {
  padding-top: 15px;
  padding-left: 15px;
}

.second-head-details h4 {
  color: #f21;
  font-size: 15px;
  padding-bottom: 4px;
}

#revtopicauthor a:hover {
  color: #fff;
}

.column-article {
  width: 368px;
}

.all-article-list {
  width: 368px;
  padding-left: 15px;
}

.all-article-list li {
  border-bottom: 1px solid rgb(214, 219, 223);
}

#hard,
#hard1,
#hard2,
#hard3,
#hard4,
#hard5,
#hard6,
#hard7,
#hard8 {
  color: #f42;
  text-decoration: none;
}

#hard:hover,
#hard1:hover,
#hard2:hover,
#hard3:hover,
#hard4:hover,
#hard5:hover,
#hard6:hover,
#hard8:hover,
#hard7:hover {
  color: #000;
}

.deal {
  position: relative;
}

.deals-head {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 20px;
}

.deals-image {
  width: 270px;
  height: 201px;
}

.deals-discount {
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./assets/yellow.png);
}

.deals-discount h4 {
  transform: rotate(39deg);
  font-weight: bolder;
  font-size: 13px;
  padding-top: 10px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
  position: absolute;
  top: 10px;
  left: 24px;
  text-align: center;
}

.deal h4 {
  padding-top: 10px;
}

.deals-image-details {
  text-decoration: none;
  color: #000;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.deals-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: 297px 297px;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.deal-price {
  padding-top: 8px;
}

.deal-priceold {
  color: #aaa;
  font-size: 13px;
  text-decoration: line-through;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.deal-pricenew {
  color: #555;
  font-size: 16px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.footer {
  background-color: #000;
  justify-content: center;
  margin-top: 80px;
}

.first-footer {
  background-color: #131313;
  padding-top: 4%;
  padding-bottom: 4%;
}

.footer-social {
  text-align: center;
}

.deals-image-details:hover {
  color: #f42;
  text-decoration: underline;
}

.fa {
  color: white;
  font-weight: 520;
}

.social-others {
  text-align: center;
  padding-top: 20px;
}

.last-footer {
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.last-footer span {
  color: #aaa;
}
