* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-head-section {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  height: 32px;
  align-items: center;
  padding-left: 20px;
}

.top-head-section1,
.top-head-section2 {
  display: flex;
  list-style-type: none;
}

.top-head-section1 a,
.top-head-section2 a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 13px;
  padding-right: 20px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.search {
  height: 48px;
  width: 50px;
  padding-top: 12px;
  padding-left: 15px;
  border-left: 1px solid grey;
}

.search a {
  color: #aaa;
  font-size: 20px;
}

.second-head-section1 {
  display: flex;
  list-style: none;
}

.second-head-section {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0 25px #ebedef;
}

.second-head-section1 a {
  text-decoration: none;
  color: #aaa;
  line-height: 1;
  padding-right: 15px;
  font-size: 15px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.latest-funding a {
  text-decoration: none;
  color: #f42;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.funding-card-details {
  width: 270px;
  height: 82.5px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
  background-color: rgba(255, 68, 34, 0.05);
  padding-left: 35px;
  padding-top: 10px;
}

.last-funding-card-details a {
  text-decoration: none;
  color: #D5D8DC;
}

.top-head-section1 a:hover,
.top-head-section2 a:hover {
  color: whitesmoke;
}

#news {
  color: white;
}

.news-top-head {
  display: grid;
  grid-template-columns: 32.5% 32.5% 32.5%;
  grid-template-rows: 249px 249px;
  box-sizing: border-box;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.news-top-headpics1 {
  background-image: url("./assets/top1.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.news-top-headpics2 {
  background-image: url("./assets/top2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news-top-headpics3 {
  background-image: url("./assets/pics3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#news-top-headdetails1 {
  background-image: linear-gradient(#cf2310, #53575a, #373a3d);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

#date {
  color: #fff;
  position: absolute;
  right: 24px;
  top: 16px;
  font-size: 0.9rem;
}

#headtopic {
  color: #fff;
  position: absolute;
  bottom: 35%;
  left: 3%;
}

.latest-funding a:hover {
  color: black;
}

#headtopic a {
  text-decoration: none;
  color: inherit;
}

#topic {
  position: absolute;
  bottom: 15%;
  left: 3%;
  color: #fff;
  width: 85%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#topic a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 60px;
  line-height: 40px;
}

#topic2,
#topic3 {
  position: absolute;
  bottom: 15%;
  left: 3%;
  color: #fff;
  width: 90%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#topicauthor {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#topicauthor2,
#topicauthor3 {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#topicauthor a {
  text-decoration: none;
  color: inherit;
}

#topic2 a,
#topic3 a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 25px;
  line-height: -1rem;
  opacity: 1;
}

#headtopic2,
#headtopic3 {
  color: #fff;
  position: absolute;
  bottom: 48%;
  left: 3%;
}

#topicauthor2 a,
#topicauthor3 a {
  text-decoration: none;
  color: inherit;
}

#headtopic2 a,
#headtopic3 a {
  text-decoration: none;
  color: inherit;
}

#topicauthor a:hover {
  color: #fff;
}

#news-top-headdetails2 {
  background-image: linear-gradient(#eaecee, #566573, black);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

#topicauthor2 a:hover,
#topicauthor3 a:hover {
  color: #fff;
}

#news-top-headdetails3 {
  background-image: linear-gradient(#eaecee, #566573, black);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.thelatestnews-section {
  width: 100%;
  padding-left: 8%;
  padding-top: 80px;
}

#latestnews {
  color: #f42;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.thelatestnews-section h2 {
  padding-bottom: 20px;
}

.thelatestnews {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-column-gap: 20px;
  grid-template-rows: 250px 250px;
}

img {
  width: 270px;
  height: 135px;
}

#latestnews:hover {
  color: black;
}

#latesttopicnews,
#latesttopicnews1,
#latesttopicnews2,
#latesttopicnews3,
#latesttopicnews4,
#latesttopicnews5,
#latesttopicnews6,
#latesttopicnews7 {
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

#latesttopicnewsothers,
#latesttopicnewsothers1,
#latesttopicnewsothers2,
#latesttopicnewsothers3,
#latesttopicnewsothers4,
#latesttopicnewsothers5,
#latesttopicnewsothers6,
#latesttopicnewsothers7 {
  font-size: 13px;
  font-weight: bolder;
  color: #aaa;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

#latesttopicnewsothers11,
#latesttopicnewsothers12,
#latesttopicnewsothers13,
#latesttopicnewsothers14,
#latesttopicnewsothers15,
#latesttopicnewsothers16,
#latesttopicnewsothers17,
#latesttopicnewsothers18 {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

#latesttopicnews:hover,
#latesttopicnews1:hover,
#latesttopicnews2:hover,
#latesttopicnews3:hover,
#latesttopicnews4:hover,
#latesttopicnews5:hover,
#latesttopicnews6:hover,
#latesttopicnews7:hover {
  color: #f42;
  text-decoration: underline;
}

#latesttopicnewsothers11:hover,
#latesttopicnewsothers12:hover,
#latesttopicnewsothers13:hover,
#latesttopicnewsothers14:hover,
#latesttopicnewsothers15:hover,
#latesttopicnewsothers16:hover,
#latesttopicnewsothers17:hover,
#latesttopicnewsothers18:hover {
  color: black;
}

.latest-funding {
  display: flex;
  justify-content: space-between;
  color: #f42;
  padding-left: 8%;
  padding-right: 8%;
  font-weight: bolder;
  padding-bottom: 30px;
}

.main-latest-funding-card {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 20px;
  justify-content: center;
}

.latest-funding-card-head {
  text-decoration: none;
  position: relative;
  width: 270px;
  height: 96.6667px;
  font-family: "Helvetica-Neue", Arial, sans-serif;
}

#cardimg1,
#cardimg2,
#cardimg3,
#cardimg4 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 9px;
}

.zipari {
  width: 270px;
  text-align: center;
  height: 39.3333px;
  background: #f42;
  color: #fff;
  padding-top: 10px;
  font-size: 18px;
}

.card-head-details {
  width: 270px;
  height: 57.3334px;
  background-color: rgba(255, 68, 34, 0.08);
  padding-left: 80px;
  padding-top: 15px;
  color: #000;
  font-size: 16px;
}

.card-head-details h5 {
  font-family: sans-serif;
  font-weight: lighter;
  color: gray;
}

.funding-card-details a {
  text-decoration: none;
  color: gray;
  line-height: 30px;
  font-size: 14px;
}

.last-funding-card-details {
  width: 270px;
  height: 88.5px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
  background-color: rgba(255, 68, 34, 0.05);
  border-top: 1px solid #f42;
  padding: 15px 25px 10px 25px;
  font-size: 12px;
  color: gray;
  line-height: 20px;
}
