* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-head-section {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  height: 32px;
  align-items: center;
  padding-left: 20px;
}

.top-head-section1,
.top-head-section2 {
  display: flex;
  list-style-type: none;
}

.top-head-section1 a,
.top-head-section2 a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 13px;
  padding-right: 20px;
  font-family: "ARS-Maquette", "Helvetica-Neue", Arial, sans-serif;
}

.search {
  height: 48px;
  width: 50px;
  padding-top: 12px;
  padding-left: 15px;
  border-left: 1px solid grey;
}

.search a {
  color: #aaa;
  font-size: 20px;
}

.second-head-section1 {
  display: flex;
  list-style: none;
}

.second-head-section {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0 15px #eaecee;
}

.second-head-section1 a {
  text-decoration: none;
  color: #aaa;
  line-height: 1;
  padding-right: 15px;
  font-size: 15px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.top-head-section1 a:hover,
.top-head-section2 a:hover {
  color: whitesmoke;
}

#news {
  color: white;
}

.news-top-head {
  display: grid;
  grid-template-columns: 32.5% 32.5% 32.5%;
  grid-template-rows: 249px 249px;
  box-sizing: border-box;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.news-top-headpics1 {
  background-image: url("./assets/top1.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.news-top-headpics2 {
  background-image: url("./assets/top2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news-top-headpics3 {
  background-image: url("./assets/pics3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#news-top-headdetails1 {
  background-image: linear-gradient(#cf2310, #53575a, #373a3d);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

#date {
  color: #fff;
  position: absolute;
  right: 24px;
  top: 16px;
  font-size: 0.9rem;
}

#headtopic {
  color: #fff;
  position: absolute;
  bottom: 35%;
  left: 3%;
}

#headtopic a {
  text-decoration: none;
  color: inherit;
}

#topic {
  position: absolute;
  bottom: 15%;
  left: 3%;
  color: #fff;
  width: 85%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#topic a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 60px;
  line-height: 40px;
}

#topic2,
#topic3 {
  position: absolute;
  bottom: 15%;
  left: 3%;
  color: #fff;
  width: 90%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#topicauthor {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#topicauthor2,
#topicauthor3 {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#topicauthor a {
  text-decoration: none;
  color: inherit;
}

#topic2 a,
#topic3 a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 25px;
  line-height: -1rem;
  font-weight: 900;
}

#headtopic2,
#headtopic3 {
  color: #ffffff;
  position: absolute;
  bottom: 48%;
  left: 3%;
}

#topicauthor2,
#topicauthor3 {
  position: absolute;
  bottom: 7%;
  left: 3%;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#topicauthor a:hover {
  color: #fff;
}

#news-top-headdetails2 {
  background-image: linear-gradient(#eaecee, #566573, black);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

#headtopic2 a,
#headtopic3 a {
  text-decoration: none;
  color: inherit;
}

#topicauthor2 a,
#topicauthor3 a {
  text-decoration: none;
  color: inherit;
}

#topicauthor2 a:hover,
#topicauthor3 a:hover {
  color: #ffffff;
}

#news-top-headdetails3 {
  background-image: linear-gradient( #eaecee, #566573, black);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}